<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>Quiz</title>
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>
    <div class='container'>
      <h1 id="questionNum">ようこそ</h1>
      <h2 id="category"></h2>
      <h2 id="difficulty"></h2>
      <p id="question">以下のボタンをクリック</p>
      <ul id="choices"></ul>
      <button id="btn">開始</button>
    </div>
    
    <script src="quiz.js"></script>
  </body>
</html>